<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idpaz %><br />
    <%= f.number_field :idpaz %>
  </div>
  <div class="field">
    <%= f.label :cognome %><br />
    <%= f.text_field :cognome %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :datanascita %><br />
    <%= f.date_select :datanascita %>
  </div>
  <div class="field">
    <%= f.label :gruppo %><br />
    <%= f.text_field :gruppo %>
  </div>
  <div class="field">
    <%= f.label :rh %><br />
    <%= f.text_field :rh %>
  </div>
  <div class="field">
    <%= f.label :diagnosi %><br />
    <%= f.text_field :diagnosi %>
  </div>
  <div class="field">
    <%= f.label :sesso %><br />
    <%= f.text_field :sesso %>
  </div>
  <div class="field">
    <%= f.label :inibitore8 %><br />
    <%= f.text_field :inibitore8 %>
  </div>
  <div class="field">
    <%= f.label :unitab8 %><br />
    <%= f.text_field :unitab8 %>
  </div>
  <div class="field">
    <%= f.label :livfattcar %><br />
    <%= f.text_field :livfattcar %>
  </div>
  <div class="field">
    <%= f.label :accven %><br />
    <%= f.text_field :accven %>
  </div>
  <div class="field">
    <%= f.label :accventipo %><br />
    <%= f.text_field :accventipo %>
  </div>
  <div class="field">
    <%= f.label :preddavp1 %><br />
    <%= f.text_field :preddavp1 %>
  </div>
  <div class="field">
    <%= f.label :preddavp2 %><br />
    <%= f.text_field :preddavp2 %>
  </div>
  <div class="field">
    <%= f.label :preddavp3 %><br />
    <%= f.text_field :preddavp3 %>
  </div>
  <div class="field">
    <%= f.label :preddavp4 %><br />
    <%= f.text_field :preddavp4 %>
  </div>
  <div class="field">
    <%= f.label :preddavp5 %><br />
    <%= f.text_field :preddavp5 %>
  </div>
  <div class="field">
    <%= f.label :postddavp1 %><br />
    <%= f.text_field :postddavp1 %>
  </div>
  <div class="field">
    <%= f.label :postddavp2 %><br />
    <%= f.text_field :postddavp2 %>
  </div>
  <div class="field">
    <%= f.label :postddavp3 %><br />
    <%= f.text_field :postddavp3 %>
  </div>
  <div class="field">
    <%= f.label :postddavp4 %><br />
    <%= f.text_field :postddavp4 %>
  </div>
  <div class="field">
    <%= f.label :postddavp5 %><br />
    <%= f.text_field :postddavp5 %>
  </div>
  <div class="field">
    <%= f.label :rcof %><br />
    <%= f.text_field :rcof %>
  </div>
  <div class="field">
    <%= f.label :fibrinogeno %><br />
    <%= f.text_field :fibrinogeno %>
  </div>
  <div class="field">
    <%= f.label :concentrato %><br />
    <%= f.text_field :concentrato %>
  </div>
  <div class="field">
    <%= f.label :fattII %><br />
    <%= f.text_field :fattII %>
  </div>
  <div class="field">
    <%= f.label :fattVII %><br />
    <%= f.text_field :fattVII %>
  </div>
  <div class="field">
    <%= f.label :fattVIII %><br />
    <%= f.text_field :fattVIII %>
  </div>
  <div class="field">
    <%= f.label :fattIX %><br />
    <%= f.text_field :fattIX %>
  </div>
  <div class="field">
    <%= f.label :fattX %><br />
    <%= f.text_field :fattX %>
  </div>
  <div class="field">
    <%= f.label :fattXI %><br />
    <%= f.text_field :fattXI %>
  </div>
  <div class="field">
    <%= f.label :fattXIII %><br />
    <%= f.text_field :fattXIII %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
