<p id="notice"><%= notice %></p>

<p>
  <b>Idpaz:</b>
  <%= @patient.idpaz %>
</p>

<p>
  <b>Cognome:</b>
  <%= @patient.cognome %>
</p>

<p>
  <b>Nome:</b>
  <%= @patient.nome %>
</p>

<p>
  <b>Data nascita:</b>
  <%= @patient.datanascita %>
</p>

<p>
  <b>Sesso:</b>
  <%= @patient.sesso %>
</p>

<p>
  <b>Gruppo:</b>
  <%= @patient.gruppo %>
</p>

<p>
  <b>Rh:</b>
  <%= @patient.rh %>
</p>

<p>
  <b>Diagnosi:</b>
  <%= @patient.diagnosi %>
</p>

<p>
  <b>Inibitore:</b>
  <%= @patient.inibitore8 %>
</p>

<p>
  <b>Unitabetesda:</b>
  <%= @patient.unitab8 %>
</p>

<p>
  <b>LivFattCar:</b>
  <%= @patient.livfattcar %>
</p>

<p>
  <b>Accesso vascolare:</b>
  <%= @patient.accven %>
</p>

<p>
  <b>Tipo Accesso vascolare:</b>
  <%= @patient.accventipo %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
